<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".WrappedActivity"
            android:exported="false"
            android:theme="@style/Theme.Metrolist" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.wrapped.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wrapped_provider_paths" />
        </provider>
    </application>

</manifest>
